*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'poppins',sans-serif;
    font-size: 18px;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}
.container{
    width:500px;
    padding: 1px solid #eeeeee;
    background-color: #003b5b;
    border-radius: 10px;
   margin:15px;

}
h4{
    margin-bottom:15px;
    font-size:24px;
    color:white;
    margin-left: 35%;
    margin-top: 10px;
}
input{
    width: 50%;
    padding:10px;
    margin-bottom: 15px;
    margin-left: 25%;
}
#submit{
    border:none;
    background-color: orangered;
    color: white;
    width: 200px;
    margin-top: 10px;
    border-radius: 5px;

}
#submit:hover{
    background-color: #333333;
}
img{
    border-radius: 50%;
    width: 25%;
    height: 100px;
    margin-left: 35%;
    margin-bottom: 15px;
}